.aboutme{
    background-color: beige;
  }
  .header {
    background-color: teal;
    padding: 22px;
    text-align: center;
  }
  a{
        margin: 0 auto;
        background-color: #7c14dd;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
  }