h4
{
text-align:center;
color: rgb(141, 132, 101);
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(68, 63, 63);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
}

input[type=submit]:hover {
  background-color: black;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#header {
  background-color: teal;
	  padding: 22px;
	  text-align: center;
    
}
a{
  margin: 0 auto;
  background-color: #7c14dd;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}